<ion-toolbar mode="md">
  <ion-button routerLink="/tabs/tab2" size="small" color="dark"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <ion-title color="light">Tomato Omelette</ion-title>
  <img src="assets/breakfeast/b2.jpg">
 
</ion-toolbar>


<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title color="dark">Recipes</ion-card-title>
  </ion-card-header>
  
  <ion-card-content class="tx">
    <ion-card-title class="tx1">Ingredients</ion-card-title>
    1 cup gram flour (besan or chickpea flour)
    <br>
    2 medium size tomato, finely chopped
    <br>
    1 medium size onion, finely chopped
    <br>
    ½ inch ginger, finely chopped
    <br>
    ¼ or ½ cup coriander (cilantro leaves) - chopped
    <br>
    ¼ teaspoon red chilli powder
    <br>
    a pinch of asafoetida (hing) - (optional)
    <br>
    a pinch of garam masala
    <br>
    ¼ teaspoon turmeric powder - (optional)
    <br>
    ½ to 1 cup water , or as required
    <br>
    salt as required
    <br>
    sunflower oil as required for cooking the omelette
    <br>
    <br>
    <ion-card-title class="tx1">Directions</ion-card-title>
    1.Finely chop onion, tomatoes, green chilli and ginger. Also chop the coriander leaves. Measure and keep all the ingredients ready for making the tomato omelettes.
    <br>
    <br>
    2.In a big bowl or vessel – take 1 cup besan (gram flour or chickpea flour), 1 medium sized onion (finely chopped) and 2 medium sized tomatoes (finely chopped).
    <br>
    <br>
    3.Next add ½ inch finely chopped ginger, ¼ or ½ cup finely chopped coriander leaves and 1 finely chopped green chili. Do chop all the ingredients finely. If chopped even in slightly larger pieces it becomes difficult to spread the omelette in the pan.
    <br>
    <br>
    4. Add 1 pinch asafoetida (hing), ¼ teaspoon turmeric powder, ¼ teaspoon red chili powder, 1 pinch garam masala and salt as required.
    <br>
    <br>
    5. Add ½ cup water first. With a wired whisk begin to mix everything. The batter has to be of medium consistency.
    <br>
    <br>
    6. Mix and stir well. I used a wired whisk but you can also mix with a spoon.
    <br>
    <br>
    7. If the batter is too thin then add some gram flour and if the batter is too thick then dilute with little water. I used about ½ cup of water. Depending on the quality and texture of besan, addition of water will be more or less.
    <br>
    <br>
    8. Heat a tawa or a flat pan on low flame. Smear some oil, about 1 teaspoon on the pan.
    <br>
    <br>
    9. Once the pan is hot reduce the flame. Then with a large spoon pour the batter on the pan.
    <br>
    <br>
    10. Spread it gently with the back of the spoon. the technique is like the way we make Pancakes. you can even rotate and tilt the pan.
    <br>
    <br>
    11. Add some oil drops on the edges & top of the tomato omelette.
    <br>
    <br>
    12. Let one side of omelette cook.
    <br>
    <br>
    13. Then flip and cook the other side.
    <br>
    <br>
    14.Cook the omelette till both sides are cooked and golden.
    <br>
    <br>
    15. Remove it on a serving plate. Make all the veg omelette in the same manner with the leftover batter.
    <br>
    <br>
    <ion-card-title class="t1">Nutrient</ion-card-title>
    <ion-item color=":rgb(255, 85, 85)" >
      <ion-label>Protein</ion-label>
      <ion-text>5gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Water</ion-label>
      <ion-text>0ml</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fats</ion-label>
      <ion-text>4gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Vitamins</ion-label>
      <ion-text>5gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fibre</ion-label>
      <ion-text>10gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>sugar</ion-label>
      <ion-text>0gm</ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>


</ion-content>
