<ion-toolbar mode="md">
  <ion-button routerLink="/tabs/tab2" size="small" color="dark"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <ion-title color="light">Raspberry Smoothie</ion-title>
  <img src="assets/breakfeast/b3.jpg">
 
</ion-toolbar>


<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title color="dark">Recipes</ion-card-title>
  </ion-card-header>
  
  <ion-card-content class="tx">
    <ion-card-title class="tx1">Ingredients</ion-card-title>
    2 cups frozen Raspberries
    <br>
    1 frozen Banana
    <br>
    2 Tablespoons Lime Juice
    <br>
    2 cups Milk
    <br>
    <br>
    <ion-card-title class="tx1">Directions</ion-card-title>
    1.Place all of your ingredients into your blender. 
    <br>
    <br>
    2.Blend until smooth.
    <br>
    <br>
    3.Top with fresh raspberries if desired.
    <br>
    <br>
    4.Serve immediately.
    <br>
    <br>
    <ion-card-title class="t1">Nutrient</ion-card-title>
    <ion-item color=":rgb(255, 85, 85)" >
      <ion-label>Protein</ion-label>
      <ion-text>5gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Water</ion-label>
      <ion-text>100ml</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fats</ion-label>
      <ion-text>4gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Vitamins</ion-label>
      <ion-text>15gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fibre</ion-label>
      <ion-text>10gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>sugar</ion-label>
      <ion-text>5gm</ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>


</ion-content>
