ion-title{
    color: rgb(100, 0, 139);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 30px;
    top:  10px;
 
   
}
.c1{
    background-color:rgb(255, 85, 85);
}
