<ion-toolbar mode="md">
  <ion-button routerLink="/tabs/tab2" size="small" color="dark"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <ion-title color="light">Oatmeal Parfait</ion-title>
  <img src="assets/breakfeast/bb2.jpg">
 
</ion-toolbar>


<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title color="dark">Recipes</ion-card-title>
  </ion-card-header>
  
  <ion-card-content class="tx">
    <ion-card-title class="tx1">Ingredients</ion-card-title>
    Low-fat vanilla yogurt (1 cup)
    <br>
    Fresh Blueberries (1 cup)
    <br>
    Oatmeal (1/2 cup)
    <br>
    <br>
    <ion-card-title class="tx1">Directions</ion-card-title>
    1.Take a glass and place a layer of yogurt at the bottom of it. The layer should be at least 1 inch.
    <br>
    <br>
    2.Place a 1/2 inch layer of oatmeal on top of the yogurt.
    <br>
    <br>
    3.Put a layer of blueberries on top of the layer of oatmeal.
    <br>
    <br>
    4.Keep repeating this process until you reach the glass's top.
    <br>
    <br>
    5.Garnish with oatmeal, berries, or a mix of all the ingredients.
    <br>
    <br>
    6.Serve with/without garnish.
    <br>
    <br>
    <ion-card-title class="t1">Nutrient</ion-card-title>
    <ion-item color=":rgb(255, 85, 85)" >
      <ion-label>Protein</ion-label>
      <ion-text>5gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Water</ion-label>
      <ion-text>100ml</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fats</ion-label>
      <ion-text>0gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Vitamins</ion-label>
      <ion-text>10gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fibre</ion-label>
      <ion-text>10gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>sugar</ion-label>
      <ion-text>3gm</ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>


</ion-content>
