

<ion-content><ion-toolbar mode="md">
  <ion-button routerLink="/tabs/tab2" size="small" color="dark"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <ion-title color="light">Stuffed Delicata Squash</ion-title>
  <img src="assets/Dinner/DD2.jpg">
 
</ion-toolbar>


<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title color="dark">Recipes</ion-card-title>
  </ion-card-header>
  
  <ion-card-content class="tx">
    <ion-card-title class="tx1">Ingredients</ion-card-title>
    2 small delicata squash (about 12 ounces each), halved and seeded
    <br>
    6 teaspoons extra-virgin olive oil, divided
    <br>
    ½ teaspoon salt, divided
    <br>
    ½ cup bulgur
    <br>
    1 cup water
    <br>
    1 small onion, chopped
    <br>
    8 ounces lean ground beef 
    <br>
    2 tablespoons chili powder
    <br>
    ½ cup nonfat or low-fat plain yogurt
    <br>
    4 teaspoons toasted pepitas (see Tip)
    <br>
    <br>
    <ion-card-title class="tx1">Directions</ion-card-title>
     1.Preheat oven to 425 degrees F.
     <br>
     <br>
     2.Brush the cut sides of the squash with 2 teaspoons oil and sprinkle with 1/4 teaspoon salt. Place facedown on a large baking sheet. Bake until tender and browned on the edges, 25 to 30 minutes.
     <br>
     <br>
     3.Meanwhile, bring bulgur and water to a boil in a small saucepan. Reduce heat, cover and simmer until tender and most of the liquid is absorbed, about 10 minutes. Drain well.
     <br>
     <br>
     4.Heat the remaining 4 teaspoons oil in a large skillet over medium heat. Add onion; cook, stirring, until beginning to brown, 4 to 5 minutes. Add beef, chili powder and the remaining 1/4 teaspoon salt; cook, stirring and breaking up with a spoon, until the meat is cooked through, about 5 minutes. Stir in the bulgur and cook 1 minute. Stir in yogurt.
     <br>
     <br>
     5.Spoon about 3/4 cup filling into each squash half. Serve sprinkled with pepitas.
     <br>
    <br>
    <ion-card-title class="t1">Nutrient</ion-card-title>
    <ion-item color=":rgb(255, 85, 85)" >
      <ion-label>Protein</ion-label>
      <ion-text>5gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Water</ion-label>
      <ion-text>10ml</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fats</ion-label>
      <ion-text>4gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Vitamins</ion-label>
      <ion-text>5gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fibre</ion-label>
      <ion-text>10gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>sugar</ion-label>
      <ion-text>0gm</ion-text>
    </ion-item>
    </ion-card-content>
</ion-card>


</ion-content>


</ion-content>
