
<ion-content><ion-toolbar mode="md">
  <ion-button routerLink="/tabs/tab2" size="small" color="dark"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <ion-title color="light">Black Bean Tacos</ion-title>
  <img src="assets/Dinner/DD1.jpg">
 
</ion-toolbar>


<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title color="dark">Recipes</ion-card-title>
  </ion-card-header>
  
  <ion-card-content class="tx">
    <ion-card-title class="tx1">Ingredients</ion-card-title>
    2 (15 ounce) cans black beans, rinsed
    <br>
    1 teaspoon ground cumin
    <br>
    ½ teaspoon garlic powder
    <br>
    8 hard taco shells
    <br>
    ¾ cup shredded Mexican cheese blend
    <br>
    <br>
    <ion-card-title class="tx1">Directions</ion-card-title>
     1.Preheat oven to 325 degrees F.
     <br>
     <br>
     2.Mash half of the beans in a large bowl. Add whole beans, cumin and garlic powder; stir to combine. Fill each taco shell with about 1/3 cup of the bean mixture. Top with cheese. Place the filled tacos on a baking sheet and bake until the beans are hot and the cheese is melted, 12 to 15 minutes.
     <br>
    <br>
    <ion-card-title class="t1">Nutrient</ion-card-title>
    <ion-item color=":rgb(255, 85, 85)" >
      <ion-label>Protein</ion-label>
      <ion-text>5gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Water</ion-label>
      <ion-text>0ml</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fats</ion-label>
      <ion-text>4gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Vitamins</ion-label>
      <ion-text>5gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fibre</ion-label>
      <ion-text>15gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>sugar</ion-label>
      <ion-text>0gm</ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>


</ion-content>


</ion-content>
