<ion-toolbar mode="md">
  <ion-button routerLink="/tabs/tab2" size="small" color="dark"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <ion-title color="light">Veggie & Hummus<br>Sandwich</ion-title>
  <img src="assets/breakfeast/bb1.jpg">
 
</ion-toolbar>


<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title color="dark">Savory Spinach and <br>
      Feta Oatmeal Bowl</ion-card-title>
  </ion-card-header>
  
  <ion-card-content class="tx">
    <ion-card-title class="tx1">Ingredients</ion-card-title>
    1/2 cup rolled oats
    <br>
    1 cup low-sodium chicken or vegetable broth
    <br>
    olive oil spray
    <br>
    2 cloves garlic, minced
    <br>
    1 cup baby spinach
    <br>
    1 large egg
    <br>
    1 tablespoon feta cheese crumbles
    <br>
    freshly cracked black pepper, to taste
    <br>
    <br>
    <ion-card-title class="tx1">Directions</ion-card-title>
    1.In a small saucepan, bring stock or water to a boil. Add oats and turn heat to low. Cook, stirring occasionally, until oats have absorbed all of the liquid, about 5 minutes.
    <br>
    <br>
    2.Meanwhile, in a small nonstick skillet, sauté garlic and spinach. Remove from pan and set aside.
    <br>
    <br>
    3.Spray skillet with olive oil spray and fry egg to desired doneness.
    <br>
    <br>
    4.Spoon oatmeal into a bowl. Stir in spinach and feta cheese. Top with fried egg and a generous crack of black pepper. Enjoy!
    <br>
    <br>
    <ion-card-title class="t1">Nutrient</ion-card-title>
    <ion-item color=":rgb(255, 85, 85)" >
      <ion-label>Protein</ion-label>
      <ion-text>5gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Water</ion-label>
      <ion-text>0ml</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fats</ion-label>
      <ion-text>4gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Vitamins</ion-label>
      <ion-text>5gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fibre</ion-label>
      <ion-text>10gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>sugar</ion-label>
      <ion-text>0gm</ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>


</ion-content>
