

<ion-content><ion-toolbar mode="md">
  <ion-button routerLink="/tabs/tab2" size="small" color="dark"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <ion-title color="light">Roasted Beet Salad  </ion-title>
  <img src="assets/Dinner/DD3.jpg">
 
</ion-toolbar>


<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title color="dark">Recipes</ion-card-title>
  </ion-card-header>
  
  <ion-card-content class="tx">
    <ion-card-title class="tx1">Ingredients</ion-card-title>
    1 ½ pounds baby beets with greens attached
    <br>
    1 head garlic
    <br>
    4 tablespoons extra-virgin olive oil, divided
    <br>
    ¾ teaspoon kosher salt, divided
    <br>
    1 cup distilled white vinegar
    <br>
    ¼ cup sugar
    <br>
    ½ cup finely chopped toasted walnuts
    <br>
    ¼ cup finely chopped red onion
    <br>
    ¼ cup chopped fresh dill
    <br>
    <br>
    <ion-card-title class="tx1">Directions</ion-card-title>
     1.Preheat oven to 325 degrees F.
     <br>
     <br>
     2.Rinse beets well. Cut off the greens, then cut the leaves off the stalks. Set the leaves and stalks aside. Remove excess papery skin from garlic head without separating the cloves, then cut the head in half horizontally.
     <br>
     <br>
     3.Toss the beets, garlic, 2 tablespoons oil and 1/2 teaspoon salt in a small baking pan, such as a bread pan. Cover with foil. Roast until tender, 1 to 1 1/4 hours. Let cool slightly.
     <br>
     <br>
     4.Whisk vinegar and sugar in a medium bowl. Squeeze the garlic cloves out of their skins into the bowl. Peel and dice the beets; add to the bowl. Let marinate at room temperature for at least 2 hours and up to 1 day.
     <br>
     <br>
     Finely chop the beet stalks and very thinly slice the greens; place in a large bowl. Scoop the beets from the pickling liquid with a slotted spoon and add to the bowl. Drizzle the beet mixture with 1/4 cup of the pickling liquid. Add walnuts, onion, dill, the remaining 2 tablespoons oil and 1/4 teaspoon salt and gently toss to combine.
     <br>
    <br>
    <ion-card-title class="t1">Nutrient</ion-card-title>
    <ion-item color=":rgb(255, 85, 85)" >
      <ion-label>Protein</ion-label>
      <ion-text>15gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Water</ion-label>
      <ion-text>0ml</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fats</ion-label>
      <ion-text>4gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Vitamins</ion-label>
      <ion-text>5gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fibre</ion-label>
      <ion-text>10gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>sugar</ion-label>
      <ion-text>10gm</ion-text>
    </ion-item>
    </ion-card-content>
</ion-card>


</ion-content>


</ion-content>
