<ion-toolbar mode="md">
  <ion-button routerLink="/tabs/tab2" size="small" color="dark"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <ion-title color="light">Sweet Pea Risotto</ion-title>
  <img src="assets/Lunch/L1.jpg">
 
</ion-toolbar>


<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title color="dark">Recipes</ion-card-title>
  </ion-card-header>
  
  <ion-card-content class="tx">
    <ion-card-title class="tx1">Ingredients</ion-card-title>
    4 oz. Parmesan cheese, with rind
    <br>
    2 c. pea pods (peas removed) or 1 cup frozen peas
    <br>
    1 lb. peas, thawed if frozen
    <br>
    4 tbsp. unsalted butter, divided
    <br>
    1 medium shallot, sliced
    <br>
    Kosher salt and pepper
    <br>
    1 c. Arborio rice
    <br>
    1/2 c. dry white wine
    <br>
    1 lemon
    <br>
    1 c. pea shoots
    <br>
    1 tbsp. olive oil
    <br>
    <br>
    <ion-card-title class="tx1">Directions</ion-card-title>
    1.Grate Parmesan into small bowl and set aside; transfer rind to small pot. Add pea pods (or 1 cup frozen peas) and 5 cups water; bring to a boil, then simmer 10 minutes. Strain, discard solids and return pea stock to pot; keep warm on low. In blender, puree 1 cup each peas and pea stock until smooth.  
    <br>
    <br>
    2.Melt 2 tablespoons butter in large saucepan on medium. Add shallot and 1/4 teaspoon salt and cook until tender, about 2 minutes.
    <br>
    <br>
    3.Add rice and cook, stirring to coat and toast, about 5 minutes. Add wine and simmer until nearly evaporated, 2 to 3 minutes.
    <br>
    <br>
    4.Add stock, 3/4 cup at a time, stirring often until nearly absorbed before adding more. Stir in pea puree and simmer until rice is nearly tender, about 5 minutes. Stir in remaining peas. 
    <br>
    <br>
    5.Remove risotto from heat. Finely grate zest of lemon and squeeze juice from 1 lemon half into risotto, then stir in grated Parmesan and remaining 2 tablespoons butter.
    <br>
    <br>
    6.Squeeze juice of remaining lemon half into bowl; toss with pea shoots, olive oil and salt and pepper to taste. Serve over risotto.
    <br>
    <br>
    <ion-card-title class="t1">Nutrient</ion-card-title>
    <ion-item color=":rgb(255, 85, 85)" >
      <ion-label>Protein</ion-label>
      <ion-text>7gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Water</ion-label>
      <ion-text>0ml</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fats</ion-label>
      <ion-text>4gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Vitamins</ion-label>
      <ion-text>5gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>Fibre</ion-label>
      <ion-text>10gm</ion-text>
    </ion-item>
    <ion-item color=":rgb(255, 85, 85)">
      <ion-label>sugar</ion-label>
      <ion-text>0gm</ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>


</ion-content>